#img{
  zoom: 50%;
  margin-top: 200px;

}
#mainContent{

  text-align: center;
  padding: 0 75px 0 75px;
  /*display: inline;*/

}

#answer{
  font: cursive;
  font-size: 200px;
  font-weight: bold;
  color: red;
  text-align: center;
  margin-top: 150px;


}

#num1{
  height: 35px;
  font-size: 14pt;
  text-align: center;
  border-width: thick;
  border-color: #42dcf4;
}

#num2{
  height: 35px;
  font-size: 14pt;
  text-align: center;
  border-width: thick;
  border-color: #42dcf4;
}

#operation{
  height: 35px;
  font-size: 14pt;
  text-align: center;
  border-width: thick;
  border-color: #42dcf4;
}

#getValue{
  height: 35px;
  font-size: 14pt;
  text-align: center;
  border-width: thick;
  border-color: #42dcf4;
}

#clearButton{
  height: 35px;
  font-size: 14pt;
  border-width: thick;
  border-color: #42dcf4;
}

#resetButtonDiv{
  text-align: center;
  margin-top: -15px;
}
